* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #f5faff;
  padding: 25px;
  border-radius: 20px;
  width: 430px;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
  animation: fadeIn 0.6s ease;
}

h1 {
  text-align: center;
  color: #0d47a1;
}

.subtitle {
  text-align: center;
  font-size: 13px;
  color: #666;
}

.dark-btn, .clear-btn {
  width: 100%;
  background: #0d47a1;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

input, select {
  padding: 7px;
  border-radius: 8px;
  border: 1px solid #0d47a1;
}

button {
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 7px 10px;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

#counter {
  font-size: 13px;
  text-align: center;
  color: #333;
}

li {
  list-style: none;
  background: #e3f2fd;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slideIn 0.3s ease;
}

/* PRIORITY COLORS */
.high { border-left: 6px solid red; }
.medium { border-left: 6px solid orange; }
.low { border-left: 6px solid green; }

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* DARK MODE */
.dark {
  background: #121212;
}

.dark .app {
  background: #1f1f1f;
  color: white;
}

.dark li {
  background: #2a2a2a;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {opacity:0; transform:scale(0.95);}
  to {opacity:1; transform:scale(1);}
}

@keyframes slideIn {
  from {opacity:0; transform:translateY(10px);}
  to {opacity:1; transform:translateY(0);}
}